<div class="flex justify-end items-center">
  <button mat-icon-button mat-dialog-close>
    <mat-icon aria-label="Close dialog">close</mat-icon>
  </button>
</div>


<div class="p-4 pt-0">
  <div class="text-4xl font-bold text-center">Счет</div> 

  <div class="flex justify-between mb-2">
    <span class="flex-1">Услуга "Безопасная сделка"</span>
    <span class="flex-none">$100</span>
  </div>
  <div class="flex justify-between mb-2">
    <span class="flex-1">Налог</span>
    <span class="flex-none">$180</span>
  </div>

</div>